.featuresRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featuresCol {
  flex: 1;
  text-align: center;
}

.featuresTitle {
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  color: green;
}

.featuresDetail {
  text-align: center;
  font-size: medium;
  border: 1px solid #ccc;
  padding: 10px;
  color: green;
}