.features {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.featuresTitle {
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
}



.featuresDetail {
  text-align: center;
  font-size: medium;
  border: 1px solid #ccc;
  padding: 10px;
}