.featuresRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.featuresCol {
  align-items: center;
  align-content: center;
}

.featuresTitle {
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 10px;
  color: green;
}

.featuresDetail {
  text-align: center;
  font-size: medium;
  border: 1px solid #ccc;
  padding: 10px;
  color: green;
}