.featuresRow {
    display: flex;
    flex-wrap: wrap;
}

.featuresCol {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.featuresTitle {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.featuresRow>.featuresCol:nth-child(4n+2) {
    background-color: #e9f7ef;
    /* 浅绿色背景 */
    color: #28a745;
    /* 绿色文字 */
    font-weight: 500;
}

.checkmark {
    color: green;
}

.cross {
    color: red;
}