.contact .info {
    padding: 20px 40px;
    background: #f1f3f6;
    color: #47536e;
    text-align: center;
    border: 1px solid #fff;
}

.contact .info i {
    font-size: 48px;
    color: #9fb2d8;
    margin-bottom: 15px;
}

.contact .info h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.contact .info p {
    font-size: 15px;
}

.contact .php-email-form {
    width: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    color: #8a8c95;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #5777ba;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #fff;
    border: 2px solid #5777ba;
    padding: 10px 24px;
    color: #5777ba;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 5px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #5777ba;
    color: #fff;
}

@media (max-width: 1024px) {
    .contact .php-email-form {
        padding: 30px 15px 15px 15px;
    }
}

@media (max-width: 768px) {
    .contact .php-email-form {
        padding: 15px 0 0 0;
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}